%html
  %head
    %title
      h4zy.info -- advertising made professional
    %meta{ :content => "h4zy.info -- stacking it like we do", :name => 'description' }
    %meta{ :content => "advertising, ppc, ppv, adware, social advertising", :name => 'keywords' }
    %link{ :href => '/stylesheets/index.css', :rel => 'stylesheet', :type => 'text/css' }
    %script{ :src => '/javascripts/jquery.js' }
    %link{ :href => '/images/favicon.ico', :rel => 'shortcut_icon', :type => 'image/x-icon' }
    %link{ :href => '/images/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
  %body
    #container
      = haml(:"menu", :layout => false)
      -if @msgerror then
        .msgerror
          = @msgerror
      -if @msgnotice then
        .msgnotice
          = @msgnotice
      %br
      = yield
