body {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.error {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}

.msgnotice {
  padding: 5px;
  text-align: center;
  background-color: #f3f7fb;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border: 1px solid #ccdfef;
}

.msgerror {
  padding: 5px;
  text-align: center;
  background-color: #fd084f;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  border: 1px solid #ccdfef;
}

.buttonselect {
  border: 1px solid #dedede;
  background-color: #3d5fd2;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.buttonselect a {
  text-decoration: none;
  color: #fff;
}

.buttonselect:hover {
  background-color: #5976d8;
}

.mouseon {
  background-color: #333;
}

.mouseon td {
  padding: 5px;
}

.arow {
  background-color: #1c1c1c;
}

.arow td {
  padding: 5px;
}

.brow td {
  padding: 5px;
}

.arow a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

.brow {
  background-color: #222222;
}

.brow a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

.done {
  height: 5px;
  background-color: #7b7b7b;
}

.yet {
  height: 5px;
  background-color: #a6a6a6;
}

.clearboth {
  clear: both;
}

.nblock {
  display: table;
  display: inline-block;
  padding: 10px;
  border: 2px solid #622894;
  background-color: #1b0b29;
}

.nblock:hover {
  border: 2px solid #732faf;
  background-color: #240f36;
}

.lcolumn {
  margin-top: 60px;
  padding: 10px;
  border: 2px solid #622894;
  background-color: #1b0b29;
  float: left;
  margin-left: 100px;
  margin-right: 200px;
}

.lcolumn:hover {
  border: 2px solid #732faf;
  background-color: #240f36;
}

.cblock {
  margin-top: 60px;
  padding: 10px;
  border: 2px solid #622894;
  background-color: #1b0b29;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.cblock:hover {
  border: 2px solid #732faf;
  background-color: #240f36;
}

.tblcenter {
  margin: 0px 50px 0px 50px;
}
